.headerContainer{
    width: 100vw;
    height: 10vh;
    position: fixed;
    border-bottom: 1px solid yellowgreen;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 22px;
    color: yellowgreen;
}
.headerContainerLogo{
    font-size: 32px;
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: none;
    background-color: black;
    padding:10px 25px ;
}
.headerContainerLogo:visited{
    color: inherit;
}
.headerContainerNickname{
    text-transform: uppercase;

}
.headerContainerLogoutButton{
    background-color: inherit;
    color: yellowgreen;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 24px;
}