.changePasswordContainer{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.388);
    display: flex;
    align-items: center;
    justify-content: center;
}
.changePasswordForm{
    width: 30%;
    height: 60%;
    background: rgba(45, 44, 44, .8);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    gap: 30px;
}
.changePasswordForm::after{
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, .1);
    transform: rotate(-6deg);
    border-radius: 10px;
    z-index: -1;
}
.changePasswordForm::before{
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, .2);
    transform: rotate(7deg);
    border-radius: 10px;
    z-index: -2;
}
.changePasswordHeader{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: .5rem;
    color: yellowgreen;
    margin-bottom: 2rem;
}
.changePasswordInput{
    border: none;
    outline: none;
    background: var(--main-bg-color);
    color: yellowgreen;
    font-size: larger;
    padding: 1rem 1.5rem;
    border-radius: 100px;
    width: 90%;
    transition: all .5s;
}
.changePasswordButton{
    background: var(--main-bg-color);
    color: yellowgreen;
    padding: 1rem;
    border-radius: 100px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    transition: background .5s;
    font-style: oblique;
    font-size: larger;
    border: none;
}