:root {
  --main-bg-color: #1c1e21;
  --main-border-color: yellowgreen;
  --main-bg-color-lighter: rgb(150, 176, 98);
  --pannel-bg-color: #101112;

  --toastify-text-color-success: yellowgreen !important;
  --toastify-color-success: #101112 !important;
  --toastify-spinner-color: #616161 !important;
  --toastify-color-progress-success: yellowgreen !important;
}
.Toastify__progress-bar--success {
  background-color: yellowgreen !important;
}
.Toastify__close-button {
  color: yellowgreen !important;
}
body{
  background-color: var(--main-bg-color);
}
.App {
  text-align: center;
}

